.header{

    width: 100%;
    background-color: rgb(222, 209, 185);
    border-bottom: solid 1px #060606;
}
.menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
justify-content: space-between;
}
.logo{
    height: 2rem;

}
.menu li{
    font-weight: 600;
    padding: 5px;
    text-align: center;
}